@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 초기화 */
* {
    font-family: 'Lato', 'Nanum Square', sans-serif;
    /* font-size: 17px; */
    /* color: #363636; */
    line-height: 1.6;
    letter-spacing: -0.5px;
    /* box-sizing: border-box; */
    outline: none;
}
body, h1, h2, h3, h4, h5, ul, li, form, fieldset, span, p, img, button { margin: 0; padding: 0;}
li { list-style: none; }
a { text-decoration: none; color: #000; transition: all 0.5s ease;}
.hidden {position: absolute; text-indent: -9999px;}
body {max-width: 1920px; margin: 0 auto;}
legend {display: none;}
button {border: 0; background: none; color: #000;}
.upper {text-transform: uppercase;}
.brand {font-size: 14px;}
.star_box {height: 20px; display: table;}
.star_box p {display: table-cell;}
.star_box img {float: left; display: table-cell;}
.star_cnt {color: #a7a7a7; font-size: 13px; padding-left: 5px; font-weight: bold;}
.btn_cart_buy {display: inline-block; width: 49px; height: 49px; border-radius: 50%; text-indent: -9999px;}
.color_e {color: #ffb718;}
.cart {background: #fff url(../images/proc-i01_gr.png) no-repeat center;  background-size: 25px}
.buynow {background: #fff url(../images/proc-i02_gr.png) no-repeat center;  background-size: 25px}
.price {font-size: 28px; color: #343434; font-weight: bold;}
.cost {color: #888; text-decoration: line-through; padding-left: 5px;}
.discount {color: #ffb718; font-size: 24px; font-weight: bold; padding-left: 13px;}

/* 헤더 */
#header {width: 98%; min-width: 1180px; max-width: 1880px; height: 80px; position: fixed; display: flex; background: #fff; margin: 20px 20px; border-radius: 15px; z-index: 9999;}
#header h1 {
    width: 154px; height: 31px; float: left; text-indent: -9999px;background: url(../images/bg_common.png) no-repeat 0 0;
    margin: 24.5px 50px 0 50px;
}

/* gnb */
#gnb {flex: 2; display: flex; align-items: center; justify-content: center} 
#gnb a {display: block;}
#gnb li:hover > a {color: #ffb718;}
#gnb > ul > li {float: left; margin: 0 15px;}
#gnb > ul > li > a {font-size: 15px; font-weight: 600; font-size: 15px;}
div.gnb_depth_area {position: absolute; top: 0; left: 0; width: 100%; margin-top: 80px; background: #fff; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; display: none;}
div.gnb_depth_area > ul.depth2 {max-width: 1330px; margin: 0 auto; }
div.gnb_depth_area > ul.depth2 > li {float: left; width: 25%; min-height: 250px; border-right: 1px solid #e1e1e1; margin-top: 30px;  padding: 0 20px; box-sizing: border-box;}
div.gnb_depth_area > ul.depth2 > li:last-child {border: 0;}
div.gnb_depth_area > ul.depth2 > li > a {background: url(../images/gnb_libg.png) no-repeat right center; color: #343434; font-size: 20px;}
div.gnb_depth_area > ul.depth2 > li:hover > a {background-image: url(../images/gnb_libg_on.png);}
ul.depth3 {margin-top: 10px;}
ul.depth3 > li > a {padding: 2px 0; font-size: 16px; color: #595959;}

/* gnb_member */
#gnb_member {flex: 1; display: flex; align-items: center; }
#gnb_member > div {width: 545px;}
#gnb_member form {border-bottom: 1px solid #000; height: 50px;  position: relative; float: left; margin: 0 20px;}
#gnb_member fieldset {width: 100px; border: 0 none;}
#btnSerch {position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
#serch_form {width: 200px; border: 0 none;  height: 48px;}
#gnb_member ul li {float: left; margin: 0 5px;}
#gnb_member a {display: block;}
.login {
    width: 137px; height: 49px; border: 1px solid #ffb718;
    border-radius: 50px; color: #ffb718; font-size: 15px; font-weight: 600;
    line-height: 49px; background: url(../images/more02.png) no-repeat 90% center;
}
.login span {padding-left: 20px;}
.rai {position: relative; width: 50px; height: 50px; background: #ffb718; border-radius: 50%; text-align: center;}
.rai img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.rai span {font-size: 12px; color: #fff; position: absolute; top: 50%; left: 0; transform: translateY(-50%); display: none;}
.myp_btn span {transform: translate(20%, -50%)}

/* 슬라이드 */
#sliderWrap {padding-top: 120px; width: 98%; min-width: 1180px;  margin-left: 1%; }
#slider_display {position: relative; min-height: 745px; overflow: hidden;  border-radius: 15px; background: #000;}
#slider_display > a {position: absolute; top: 50%; transform: translateY(-50%); display: block; width: 138px; height: 570px; text-indent: -9999px;}
#prev_btn {background: url(../images/mainarrow-bg_prev.png) no-repeat center / cover; left: -20px;}
#prev_btn::before {content: ''; position: absolute; width: 11px; height: 19px; background: url(../images/main-arrow.png) no-repeat center; top: 50%; right: 40%; transform: translateY(-50%) rotate(-180deg);}
#next_btn {background: url(../images/mainarrow-bg_next.png) no-repeat center / cover; right: -20px;}
#next_btn::before {content: ''; position: absolute; width: 11px; height: 19px; background: url(../images/main-arrow.png) no-repeat center; top: 50%; left: 40%; transform: translateY(-50%);}
#slider {}
#slider_num {position: absolute; right: 13%; top: 50%; transform: translateY(-50%);}
#slider_num li {margin: 45px 0; font-weight: bold;}
#slider_num li a {color: #bebebe;}

/* 메인시작 */
/* 실시간 인기상품 */
#main_popularWrap {padding: 0 30px;}
#main_popular {position: relative; max-width: 1570px; min-width: 900px; background: #f7f7f7; margin: 30px auto; padding: 30px 120px; height: 110px; border-radius: 85px;}
#main_popular h2 {position: absolute; left: 50%; transform: translateX(-50%); font-size: 20px;}
#main_popular div {
    position: absolute; display: flex; align-items: center; width: 128px; height: 34px; right: 10%;
    font-size: 12px; background: #fff; border-radius: 17px; box-shadow: 4px 3px 11px 10px rgb(0 0 0 / 3%); color: #868686;
}
#main_popular div > img {max-width: 17px; height: 17px; float: left; padding: 0 5px 0 15px;}
#main_popular ul {position: absolute; display: flex; bottom: 15%; width: calc(100% - 240px);}
#main_popular ul li { flex: 1; float: left; min-width: 280px; border-bottom: 1px solid #000; padding-bottom: 15px; margin: 0 1.5%; font-size: 16px;}
#main_popular ul li a { overflow: hidden; display: block;  text-overflow: ellipsis; white-space: nowrap;}
#main_popular ul li a span {font-size: 20px; color: #ffb718; font-weight: bold;}

/* BEST PRODUCT */
#main_Best_productWrap {width: 100%; background: #fafafa;}
#main_Best_product {
    position: relative; min-width: 1180px;  max-width: 1390px; margin: 0 auto;
    padding: 70px 30px 80px; box-sizing: border-box; text-align: center;
    height: 1180px; 
}
#main_Best_product > h2 { font-size: 38px; font-weight: 900; color: #343434; letter-spacing: 0;}
#main_Best_product > p {font-size: 20px; font-weight: 400; font-family: 'S-CoreDream-3Light'; }
#Bproduct_menu {position: relative; margin-top: 30px; height: 100px;}
#tab_title {
    position: absolute; left: 30%; width: 195px; height: 60px; background: #fff; text-align: left;
    font-size: 16px; color: #474747; line-height: 60px; padding-left: 30px;
    border-radius: 30px; box-sizing: border-box;
}
#tab_title::after {
    content: '';
    position: absolute;
    background: url(../images/select-arrow.png) no-repeat 90% center;
    width: 44px;
    height: 44px;
    right: 10px;
    top: 8px;
}
#tab_list {
    position: absolute; top: 60px; left: 30%; text-align: left; width: 195px;
    background: #fff; border-radius: 0 0 30px 30px; padding-bottom: 10px; display: none;
}
#tab_list h3 {font-weight: normal; font-size: 14px;}
#tab_list > li { padding: 3px 0 3px 30px; box-sizing: border-box;}
#tab_subWrap {position: absolute; left: 50%; width: 60%; height: 60px; line-height: 60px;}
#tab_subWrap .act {color: #ffb718;}
.tab_sub_all {position: absolute; top: 50%; left: 0; transform: translateY(-50%); color: #9f9f9f; font-size: 17px; font-weight: bold;}
.tab_sub {position: absolute; top: 50%; left: 45px; transform: translateY(-50%); float: left; display: none;}
.tab_sub.on {display: block;}
.tab_sub li {float: left; margin-right: 30px; font-size: 17px; font-weight: bold;}
.tab_sub li a {color: #9f9f9f;}

#tab_item {width: 1330px; margin-top: 100px;}
#tab_item > li {
    width: 23%; height: 580px; position: relative; background: #fcf1ef; float: left; padding: 0 20px;
    box-sizing: border-box; margin: 0 1%; border-radius: 20px;
}
.tab_item_img_box {position: absolute; top: -50px; left: 50%; transform: translateX(-50%);}
.tab_item_info_box {position: absolute; display: table; width: 260px; top: 230px; text-align: start;}
.tab_item_info_box > a {margin-top: 30px; margin-right: 5px;}
.tab_item_info_box p {margin: 5px 0;}
.item_name {font-size: 17px; color: #363636; height: 54px; font-weight: 600;}
.item_explain {font-size: 15px; color: #272727; font-weight: 300;}
.delivery_text {font-size: 16px; font-weight: bold; color: #2196f3;}
.btn_present {
    position: absolute; display: block; bottom: -38px; right: -27px; width: 94px; height: 94px; text-align: center;
    background: #ffb718 url(../images/proc-i03_w.png) no-repeat center; border-radius: 25%; background-size: 40px; scale: 1; line-height: 94px; text-indent: -9999px;
}

#Bproduct_more_view {
    position: relative; display: block; position: absolute; bottom: 100px; left: 50%; transform: translateX(-50%);
    color: #a1a1a1; font-size: 14px; border-bottom: 1px solid #a1a1a1; padding: 5px 0 10px 0; width: 213px;
    text-align: left; font-family: 'Lato', sans-serif; letter-spacing: 0;
}
#Bproduct_more_view::before {
    content: ''; position: absolute; width: 11px; height: 11px; background: url(../images/more.png) no-repeat right center;
    right: 0; top: 10px;
}

/* NEW PRODUCT */
#main_New_product {text-align: center; height: 677px; padding: 70px 0 80px 0; box-sizing: border-box;}
#main_New_product h2 {font-size: 38px; font-weight: 900; color: #343434; letter-spacing: 0;}
#main_New_product p {font-size: 20px; font-weight: 400; font-family: 'S-CoreDream-3Light'; }

#Nproduct_box {text-align: start; position: relative; width: 1300px; margin: 0 auto;}
#item_list {}
#item_list li {float: left;}